/.env
/.git
/.github
/.idea
/.vscode
/Dockerfile
/README.md
/compose*.yaml
/compose*.yml
/docker-compose*.yaml
/docker-compose*.yml
/game-server/.gradle
/game-server/build
/node_modules
/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/tests
/vendor
!public/vendor/**
